{% extends 'calculator/base.html' %}
{% block content %}

    <section class="bg-light text-dark p-5">
        <form method="post" action="#">

            {% csrf_token %}
        <div id="form-main" class="container">
            <div class="row">
              <div class="col"> Underlying Price </div>
              <div class="col"> <input type="text" name="underlying-price"> </div>
              <div class="w-100"></div>
              <div class="col"> Time till Maturity </div>
              <div class="col"> <input type="text" name="time-till-maturity"> </div>
              <div class="w-100"></div>
              <div class="col"> Strike price </div>
                <div class="col"> <input type="text" name="strike-price"> </div>
              <div class="w-100"></div>
              <div class="col"> Volatility </div>
              <div class="col"> <input type="text" name="volatility"> </div>
              <div class="w-100"></div>
              <div class="col"> Interest rate </div>
              <div class="col"> <input type="text" name="interest-rate">  </div>
            </div>
                Option style
                <div class="dropdown">
                    <label for="EU"> <input id="EU" type="radio" value='EU' name="option-style"> European </label>
                    <label for="US"> <input id="US" type="radio" value='US' name="option-style"> American </label>
                </div>
                Option type
                <div class="dropdown">
                    <label for="call"> <input id="call" type="radio" value='call' name="option-type"> Call </label>
                    <label for="put"> <input id="put" type="radio" value='put' name="option-type"> Put </label>
                </div>
                Method
                <div class="dropdown">
                    <label for="Analytical"> <input id="Analytical" type="radio" value='analytical' name="method"> Analytical </label>
                    <label for="FDM"> <input id="FDM" type="radio" value='FDM' name="method"> Finite Difference Method </label>
                </div>
                <input type="submit" name="calculate" value="Calculate"> <br>
            </div>
        </form>

        <div class = "container">
            <h2> {{fair_value}} </h2>
        </div>

        <div id="greeks" class = "greeks-table">
            <table class="table">
              <thead>
              </thead>
              <tbody>
                <tr>
                  <td>Delta</td>
                  <td>{{ greeks.delta }}</td>
                </tr>
                <tr>
                  <td> Gamma </td>
                  <td> {{ greeks.gamma }}</td>
                </tr>
                <tr>
                  <td> Vega </td>
                  <td> {{ greeks.vega }}</td>
                </tr>
                <tr>
                  <td> Theta </td>
                  <td> {{ greeks.theta }}</td>
                </tr>
                <tr>
                  <td> Rho </td>
                  <td> {{ greeks.rho }}</td>
                </tr>
              </tbody>
            </table>
        </div>
    </section>

    <div id="div1" class="option-chart-container" style="position: relative; height:20vh; width:40vw" >
        <canvas id="option_price_chart" width="200" height="100"></canvas>
    </div>

    <div id="div2" class="greek-chart-container" style="position: relative; height:20vh; width:40vw" >
        <canvas id="greek_chart" width="200" height="100"></canvas>
    </div>

    {% endblock content %}

{% block script %}
    <script>
        $(document).ready(function(){
            var ctx = document.getElementById('option_price_chart').getContext('2d');
            var option_price_chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['147.0', '148.0', '149.0', '150.0', '151.0', '152.0', '153.0'],
                    datasets: [{
                        label: 'Fair price',
                        data: {{ fair_prices }},
                        fill: false,
                        borderColor: 'rgb(75, 192, 192)',
                        backgroundColor: 'rgb(75, 192, 192)',
                        tension: 0.1
                    },

                       {
                        label: 'Payoff',
                        data: {{ payoff }},
                        fill: false,
                        borderColor: 'rgb(230, 0, 0)',
                        backgroundColor: 'rgb(230, 0, 0)',
                        tension: 0.1
                    }

                    ]


                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

            var ctx = document.getElementById('greek_chart').getContext('2d');
            var greek_chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['147.0', '148.0', '149.0', '150.0', '151.0', '152.0', '153.0'],
                    datasets: [{
                        label: 'Fair price',
                        data: {{ fair_prices }},
                        fill: false,
                        borderColor: 'rgb(75, 192, 192)',
                        backgroundColor: 'rgb(75, 192, 192)',
                        tension: 0.1
                    },

                       {
                        label: 'Payoff',
                        data: {{ payoff }},
                        fill: false,
                        borderColor: 'rgb(230, 0, 0)',
                        backgroundColor: 'rgb(230, 0, 0)',
                        tension: 0.1
                    }

                    ]


                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    </script>

{% endblock script %}